/* Common CSS Start */

@import url(notosans-kr.css);

body {
    margin: 0;
    font-family: Dotum, 돋움, Helvetica, sans-serif;
    word-wrap: break-word;
    /*-ms-font-feature-settings:"liga" 1;*/
    /*-webkit-text-rendering:optimizeLegibility;*/
    /*-moz-text-rendering:optimizeLegibility;*/
    /*-ms-text-rendering:optimizeLegibility;*/
    /*-o-text-rendering:optimizeLegibility;*/
    /*text-rendering:optimizeLegibility;*/
    /*-webkit-font-smoothing:antialiased;*/
    /*-moz-font-smoothing:antialiased;*/
    /*-ms-font-smoothing:antialiased;*/
    /*-o-font-smoothing:antialiased;*/
    /*font-smoothing:antialiased;*/
}

.fonts-loaded body {
    font-family: 'Noto Sans Korean', Dotum, '돋움', sans-serif;
}

p {
    text-shadow: 0 0 0;
}

div {
    text-shadow: 0 0 0;
}

input {
    border-radius: 0;
}

.crop {
    overflow: hidden;
    position: relative;
    display: inline-block;
}
/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label.css-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select::-ms-expand {
    display: none;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px;
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align: top;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}


/*specific classes related to Checkbox skins*/
.web-two-style{background-image:url(../image/web-two-style.png);}


input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
    padding-left:22px;
    height:20px;
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align: top;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{
    background-position: 0 -20px;
}

.select-style {
    position: relative;
    display: inline-block;
    border: 1px solid #d8d8d8;  /* 테두리 설정 */
    z-index: 1;
}

.select-style:before {  /* 화살표 대체 */
    content: "";
    position: absolute;
    top: 45%;
    right: 7%;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}

.select-style label {
    color: #000;
    font-size:1.636rem;
    position: absolute;
    top: 1px;  /* 위치정렬 */
    left: 5px;  /* 위치정렬 */
    padding: 4% 3%; /* select의 여백 크기 만큼 */
    color: #999;
    z-index: -1;  /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
}



.select-style select {
    width: 100%;
    height: 100%;  /* 높이 초기화 */
    line-height: normal;  /* line-height 초기화 */
    font-family: inherit;  /* 폰트 상속 */
    padding: 4% 3%; /* 여백과 높이 결정 */
    border: 0;
    opacity: 0;  /* 숨기기 */
    filter:alpha(opacity=0);  /* IE8 숨기기 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

[class^='select2'] {
    border-radius: 0px !important;
    border-color : #ebebeb;
}


.crop img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: auto;
    height: auto;
}

.text-ellipsis{
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
}

@-webkit-keyframes flickeringImageTags {
    0% {
        -webkit-transform: rotate(40deg)
    }

    20% {
        -webkit-transform: rotate(-20deg)
    }

    40% {
        -webkit-transform: rotate(10deg)
    }

    60% {
        -webkit-transform: rotate(-4deg)
    }

    80% {
        -webkit-transform: rotate(1.5deg)
    }

    100% {
        -webkit-transform: rotate(0deg)
    }
}

@-moz-keyframes flickeringImageTags {
    0% {
        -moz-transform: rotate(40deg)
    }

    20% {
        -moz-transform: rotate(-20deg)
    }

    40% {
        -moz-transform: rotate(10deg)
    }

    60% {
        -moz-transform: rotate(-4deg)
    }

    80% {
        -moz-transform: rotate(1.5deg)
    }

    100% {
        -moz-transform: rotate(0deg)
    }
}

@-o-keyframes flickeringImageTags {
    0% {
        -o-transform: rotate(40deg)
    }

    20% {
        -o-transform: rotate(-20deg)
    }

    40% {
        -o-transform: rotate(10deg)
    }

    60% {
        -o-transform: rotate(-4deg)
    }

    80% {
        -o-transform: rotate(1.5deg)
    }

    100% {
        -o-transform: rotate(0deg)
    }
}

@-ms-keyframes flickeringImageTags {
    0% {
        -ms-transform: rotate(40deg)
    }

    20% {
        -ms-transform: rotate(-20deg)
    }

    40% {
        -ms-transform: rotate(10deg)
    }

    60% {
        -ms-transform: rotate(-4deg)
    }

    80% {
        -ms-transform: rotate(1.5deg)
    }

    100% {
        -ms-transform: rotate(0deg)
    }
}

@keyframes flickeringImageTags {
    0% {
        transform: rotate(40deg)
    }

    20% {
        transform: rotate(-20deg)
    }

    40% {
        transform: rotate(10deg)
    }

    60% {
        transform: rotate(-4deg)
    }

    80% {
        transform: rotate(1.5deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

.animate {
    -o-animation: flickeringImageTags 2s;
    -ms-animation: flickeringImageTags 2s;
    -webkit-animation: flickeringImageTags 2s;
    -moz-animation: flickeringImageTags 2s;
    animation: flickeringImageTags 2s;
}



@-webkit-keyframes flickeringImageForInstaTags {
    0% {
        -webkit-transform: rotate(40deg)
    }

    20% {
        -webkit-transform: rotate(-20deg)
    }

    40% {
        -webkit-transform: rotate(10deg)
    }

    60% {
        -webkit-transform: rotate(-4deg)
    }

    80% {
        -webkit-transform: rotate(1.5deg)
    }

    100% {
        -webkit-transform: rotate(0deg)
    }
}

@-moz-keyframes flickeringImageForInstaTags {
    0% {
        -moz-transform: rotate(40deg)
    }

    20% {
        -moz-transform: rotate(-20deg)
    }

    40% {
        -moz-transform: rotate(10deg)
    }

    60% {
        -moz-transform: rotate(-4deg)
    }

    80% {
        -moz-transform: rotate(1.5deg)
    }

    100% {
        -moz-transform: rotate(0deg)
    }
}

@-o-keyframes flickeringImageForInstaTags {
    0% {
        -o-transform: rotate(40deg)
    }

    20% {
        -o-transform: rotate(-20deg)
    }

    40% {
        -o-transform: rotate(10deg)
    }

    60% {
        -o-transform: rotate(-4deg)
    }

    80% {
        -o-transform: rotate(1.5deg)
    }

    100% {
        -o-transform: rotate(0deg)
    }
}

@-ms-keyframes flickeringImageForInstaTags {
    0% {
        -ms-transform: rotate(40deg)
    }

    20% {
        -ms-transform: rotate(-20deg)
    }

    40% {
        -ms-transform: rotate(10deg)
    }

    60% {
        -ms-transform: rotate(-4deg)
    }

    80% {
        -ms-transform: rotate(1.5deg)
    }

    100% {
        -ms-transform: rotate(0deg)
    }
}

@keyframes flickeringImageForInstaTags {
    0% {
        transform: rotate(40deg)
    }

    20% {
        transform: rotate(-20deg)
    }

    40% {
        transform: rotate(10deg)
    }

    60% {
        transform: rotate(-4deg)
    }

    80% {
        transform: rotate(1.5deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

.insta_animate {
    -o-animation: flickeringImageForInstaTags 2s;
    -ms-animation: flickeringImageForInstaTags 2s;
    -webkit-animation: flickeringImageForInstaTags 2s;
    -moz-animation: flickeringImageForInstaTags 2s;
    animation: flickeringImageForInstaTags 2s;
}



.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.text-bold{
    font-weight:700;
}

.text-normal{
    font-weight: 400;
}

.text-light{
    font-weight : 100;
}

.mobile_only{
    display:inherit !important;
}

.web_only{
    display:none !important;
}

@media (min-width: 768px) {
    .mobile_only{
        display:none !important;
    }
    .web_only{
        display: inherit !important;
    }


    .select-style label {
        font-size:1.2rem;
    }

}

header {
    position: relative;
}

.head {
    background: #ffffff;
    width: 100%;
    margin: auto;
    text-align: center;
}

#menu-logo {
    cursor: pointer;
    width: 38.28vw;
    margin-top: 5.1vw;
}

#menu-left {
    cursor: pointer;
    position: absolute;
    width: 5.6%;
    left: 4.3%;
    top: 5.6vw;
}

#menu-search-m{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 6.88%;
    float: right;
    top: 4.5vw;
    right: 10.55vw;
}

#menu-heart-m{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 7.28%;
    float: right;
    top: 4.5vw;
    right: 1.525vw;
}

header #menu-right {
    cursor: pointer;
    width: 5.9%;
    float: right;
    margin-right: 4.3%;
    margin-top: 4.8vw;
}

.container {
    width: 100vw;
    padding: 0px;
}

html {
    font-size: 6.0px;
}

@media (min-width: 320px) {
    html {
        font-size: 6.4px;
    }
}

@media (min-width: 360px) {
    html {
        font-size: 7.2px;
    }
}

@media (min-width: 414px) {
    html {
        font-size: 8.2px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 9.2px;
    }
}

@media (min-width: 560px) {
    html {
        font-size: 10.8px;
    }
}

@media (min-width: 640px) {
    .container {
        width: 100%;
    }

    html {
        font-size: 11px;
    }

    .head {
        width: 100%;
    }

    header #menu-logo {
        width: 245px;
        margin-top: 35px;
    }

    header #menu-left {
        width: 36px;
        top: 38px;
    }

    header #menu-right {
        width: 38px;
        margin-top: 32px;
    }

}




@media (min-width: 768px) {
    .container {
        width: 768px;
    }

    html {
        font-size: 8px;
    }

    .head {
        width: 100%;
        height: 90px;
    }

    header #menu-logo {
        width: 138px;
        margin-top: 11px;
    }

    header #menu-left {
        width: 28px;
        top: 23px;
    }

    header #menu-right {
        width: 29px;
        margin-top: 20px;
    }

}

@media (min-width: 1280px) {
    .head {
        width: 100%;
        height: 50px;
    }
}

.v-align-parent{
    font: 0/0 'Noto Sans Korean';
}

.v-align-parent:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.v-align-child{
    display: inline-block;
    vertical-align: middle;
}


input{
    border: 0;
    border-bottom: 1px solid #000;
}
/* Common css End */






/* Popup Container */

.popup-common{

}

.popup-child-container {
    width: 87.5%;
    top: 180px;
    position: fixed;
    background: #FFFFFF;
    text-align: center;
    display: none;
}

.login-container {
}

.popup-close {
    text-align: right;
    margin-top: 3%;
    margin-right: 3%;
}

.popup-close img {
    width: 5.7%;
}

.popup-common{
    display: none;
    width: 80vw;
    background: #FFF;
    overflow: auto;
    text-align: center;
}
.popup-common .popup-common-title{
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
}
.popup-common .popup-common-button{
    margin-top: 10vw;
    margin-bottom: 6vw;
}
.popup-common .popup-common-button div{
    display: inline-block;
    color: #000;
    width: 26vw;
    height: 7vw;
    padding-top: 1.5%;
    cursor:pointer;
}

.popup-common .popup-common-button .left-button{
    background: #d8d8d8;
    margin-right: 2vw;
}
.popup-common .popup-common-button .right-button{
    background: #ffe100;
}

.popup-common .popup-footer{
    margin: 2vw 0;
    text-align: center;
    font-size: 1.8rem;

}

.popup-common .popup-footer span{
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
}

.popup-trace-name{
    font-weight: 700;
    font-size: 1.8rem;
}
.popup-trace-link{
    margin-top: 3vw;
    font-size:1.6rem;
    color: #003cff;
    text-decoration: underline;
    text-decoration-color: #003cff;
    margin-bottom: 1vw;
}
.popup-trace-desc{
    margin-bottom: 6vw;
}

.popup-condition-desc{
    text-align: left;
    padding: 2vw;
    margin-top:-7vw;
}

#popup-buy-condition{
    width: 85vw;
    height: 120vw;
    overflow: auto;
}

@media (min-width: 768px) {
    .popup-common {
        width: 400px;
    }

    .popup-common .popup-common-title {
        font-size: 2.2rem;
    }

    .popup-common .popup-common-button {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .popup-common .popup-common-button div {
        width: 140px;
        height: 40px;
        padding-top: 2%;
    }

    .popup-common .popup-common-button .left-button {
        margin-right: 10px;
    }

    .popup-trace-name {
        font-size: 2.0rem;
    }

    .popup-trace-link {
        margin-top: 20px;
        font-size: 1.8rem;
        margin-bottom: 5px;
    }

    .popup-trace-desc {
        margin-bottom: 35px;
    }

    .popup-condition-desc {
        text-align: left;
        padding: 20px;
        margin-top: -60px;
    }
    #popup-buy-condition{
        width: 650px;
        height: 500px;
    }


    .popup-common .popup-footer{
        margin: 18px 0;
    }
}


.tg-popup  {border-collapse:collapse;border-spacing:0;}
.tg-popup td{font-family:Arial, sans-serif;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg-popup th{font-family:Arial, sans-serif;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg-popup .tg-wr85{font-weight:bold;background-color:#efefef;text-align:center}
.tg-popup .tg-7fle{font-weight:bold;background-color:#efefef;text-align:center;vertical-align:top}
.tg-popup .tg-baqh{text-align:center;vertical-align:top}
.tg-popup .tg-gwae{font-weight:bold;background-color:#c0c0c0;color:#333333;text-align:center;vertical-align:top}
.tg-popup .tg-yw4l{vertical-align:top}

#login-desc-1 {
    margin-top: 3%;
    font-size: 1.8rem;
    text-align: center;
}

.login-sns-area {
    margin-top: 5%;

}

.login-sns-image {
    width: 85.7%;
}

.login-email-area {
    margin-top: 4%;
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-left: 10.7%;
    padding-right: 10.7%;

}

.login-email-area span {
    font-size: 1.7rem;
    vertical-align: top;
    font-weight: 400;
    padding-left: 1.5%;
}

.login-email-area img {
    width: 4%;
}

.login-email-area input {
    width: 70%;
    border: 0;
    border-bottom: solid 2px #cecdcd;
    outline: none; /* prevents textbox highlight in chrome */
    float: right;
}

.join-container {

}

.popup-button {
    cursor: pointer;
    background: #ffe100;
    width: 87.5%;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 8% auto 5% auto;
    padding: 3%;
}

#popup-join-first {
    margin-top: 6%;
}

.popup-join-input-area {
    margin-bottom: 9%;
    width: 100%;
    text-align: left;
    padding-left: 10.7%;
    padding-right: 10.7%;
}

.popup-join-input-area div {
    width: 100%;
    display: inline-block;
}

.popup-join-input-area span {
    font-size: 1.7rem;
    vertical-align: top;
    font-weight: 400;
    padding-left: 1.5%;
}

.popup-join-input-area img {
    width: 4%;
}

.popup-join-input-area input {
    margin-top: 4.5%;
    width: 100%;
    border: 0;
    border-bottom: solid 2px #cecdcd;
    outline: none; /* prevents textbox highlight in chrome */
}

#popup-checkbox-area {
    margin-top: -5%;
}

#popup-checkbox-area span {
    float: right;
    text-decoration: underline;
    cursor: pointer;
}

#popup-checkbox-area input {

}

#popup-checkbox-area label {
    font-weight: 400;
    font-size: 1.7rem;
}

.join-start-desc {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 6%;
}

.join-start-desc span {
    font-weight: 400;
}

.join-start-desc a {
    color: #000000;
    font-weight: 400;
    text-decoration: underline;
}

label.error {
    color: #ec1b23;
    font-weight: 400;
}

@media (min-width: 640px) {
    .popup-child-container {
        width: 430px;
        top: 18%;
    }
}

/* Left Menu*/
#sb-background {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.0;
    z-index: 9998;
    cursor: pointer;
    display: none;
}

#sb-site {
    /*background-color: #e5e5e5 !important;*/
}

.sb-slidebar {
    background-color: #ffffff;
    padding: 5%;
}

.menu-desc {
    font-size: 1.5rem;
    color: #000000;
}

.menu-email {
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: -0.3px;
}

.menu-menu {
    margin-top: 8vw;
}

.menu-menu span {
    font-size: 2.2rem;
    font-weight: 700;
    padding-left: 5%;
    vertical-align: middle;
    cursor: pointer;
}

.menu-menu img {
    width: 3.9vw;
}

@media (min-width: 640px) {

    .sb-slidebar {
        padding: 40px;
    }

    .menu-desc {
        font-size: 1.8rem;
    }

    .menu-email {
        font-size: 2.2rem;
    }

    .menu-menu {
        margin-top: 60px;
    }

    .menu-menu span {
        font-size: 2.1rem;
        padding-left: 25px;

    }

    .menu-menu img {
        width: 24px;
    }
}



/*FOOTER*/
#footer_wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#footer_top {
    width: 100%;
    margin-top: 3vw;
    font-size: 1.5rem;
}

#footer_top div {
    float: right;
    margin-right: 4vw;
}

#footer_top div span {
    font-weight: 700;
    color: #333333;
    cursor: pointer;
    font-size: 1.4rem;
}

#footer_top img {
    float: left;
    width: 25vw;
    margin-left: 5vw;
}

#footer_bottom {
    width: 100%;
    display: block;
    text-align: left;
    padding: 3% 4% 3% 5%;
    font-size: 1.2rem;
    line-height: 180%;
}

.footer_line {
    width: 100%;
}

.footer_line img {
    width: 100%;
    height: 2px;
}

#footer_bottom div {
    white-space: normal;
    word-break: normal;
    display: inline-block;
}

@media (min-width: 768px) {

    #footer_wrapper {
        width: 768px;
    }

    #footer_top {
        width: 100%;
        margin-top: 15px;
        font-size: 1.3rem;
    }

    #footer_top div {
        margin-top: 4px;
        margin-right: 30px;
    }

    #footer_top div span {
        font-size: 1.4rem;
    }

    #footer_top img {
        width: 140px;
        margin-left: 10px;
    }

    #footer_bottom {
        padding: 10px 0 20px 10px;
        font-size: 1.25rem;
        line-height: 180%;
    }

}


/* CART SHOP TITLE */

.shop_title{
    width: 100%;
    height: 22.34vw;
    background: #F7F7F7;
}
.shop_title .left{
    display: inline-block;
    width: 75%;
    height: 100%;
    padding-top: 6vw;
    padding-left: 5vw;
}
.shop_title .left .title{
    font-size: 2.4rem;
    font-weight: 700;
}

.shop_title .left .desc{
    font-size: 1.8rem;
    font-weight: 400;
}

.shop_title .right{
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align:center;
}
.shop_title .right span{
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
    cursor : pointer;
}

.popup-button-wrapper{
    width: 80%;
    margin: 4vw auto;
}
.common-button{
    width: 100%;
    background: #FFE100;
    font-size: 2.0rem;
    font-weight: 700;
    text-align: center;
    padding: 3vw 0;
    border-radius: 8vw;
    cursor: pointer;
}

.common-button-sentence{
    font-size: 1.8rem;
    text-align: center;
    padding: 3vw 0;
}

.common-button-sentence span{
    font-size: 1.9rem;
    font-weight: 700;
    text-decoration: underline;
    cursor : pointer;
}


@media (min-width: 768px) {
    .popup-button-wrapper{
        margin: 25px auto;
    }
    .common-button{
        padding: 15px 0;
        border-radius: 70px;
    }

    .common-button-sentence {
        padding: 15px 0;
    }

    .shop_title{
        height: 80px;
    }
    .shop_title .left{
        padding-top: 12px;
        padding-left: 25px;
    }


    .shop_title .right{
        text-align: right;
    }
}