

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(./NotoSans-Light.eot),
    url(./NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(./NotoSans-Light.woff2) format('woff2'),
    url(./NotoSans-Light.woff) format('woff'),
    url(./NotoSans-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(./NotoSans-Regular.eot),
    url(./NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(./NotoSans-Regular.woff2) format('woff2'),
    url(./NotoSans-Regular.woff) format('woff'),
    url(./NotoSans-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(./NotoSans-Bold.eot),
    url(./NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(./NotoSans-Bold.woff2) format('woff2'),
    url(./NotoSans-Bold.woff) format('woff'),
    url(./NotoSans-Bold.otf) format('opentype');
}