/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.smart-style-2 #header, .smart-style-2 .page-footer, .smart-style-2 .superbox-show{
    background: #FFF;
}

#logo img{
    width: 30vw;
}

.smart-style-2 #hide-menu a:hover i, .smart-style-2 .btn-header > :first-child > a:hover {
    color: #000 !important;
    cursor: pointer !important;
}

#header>:first-child, aside{
    width: auto;
}

#logo-func-group{
    margin-left: 2vw;
    display: inline-block;
}
.func_btn{
    display: inline-block;
    width:20vw;
    margin-left: 1vw;
    cursor: pointer;
}


.text-ellipsis{
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
}

@media (min-width: 768px) {
    #logo img{
        width: 200px;
    }

    #logo-func-group{
        margin-left: 60px;
        display: inline-block;
    }
    .func_btn{
        display: inline-block;
        width:160px;
        margin-left: 10px;
        cursor: pointer;
    }
}